@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #070d59;
  --darkBg: #021321;
  --green: #01af47;

  /*hamburger button*/

  --bar-width: 40px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/*hamburger style*/

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.4142);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  cursor: pointer;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  border-radius: 9999px;
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--green);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}